node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Env
.env*

# iOS Native
ios/Pods/
ios/build/
ios/*.xcworkspace/xcuserdata/
ios/Podfile.lock

# iOS Build Artifacts
*.ipa
*.xcarchive
*.dSYM.zip
*.dSYM
DerivedData/